.navbar {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: var(--navbar-height-mobile);
  width: 100%;
  z-index: 10;
  background-color: var(--primary-color);
  overflow: hidden;
}

.navbar > * {
  margin: 0.3rem 0;
}



.navbar .logo {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  margin-left: 2%;
  padding: 5px;
  max-height: 4rem;
}

.logo img {
  display: block;
  height: 2.5rem;
}


.navbar ul {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  padding: 0 1%;
}

.navbar li {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  margin: 2% 5%; 
  font-size: 1.7rem;
  font-weight: bolder;
  letter-spacing: 2px;
  white-space: nowrap;
}

.Link {
  text-decoration: none;
  color: var(--secondary-color);
}

.Link:hover {
  filter: brightness(95%);
}


.navbar .user-info {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: right;
}

.user-info .login {
  text-decoration: underline;
  cursor: pointer;
}

.user-info .profile-icon {
  margin: 0 10px;
  font-size: 3rem;
  color: var(--secondary-color);
}



@media screen and (min-width: 600px) and (min-height: 768px) {
  .navbar {
    position: fixed;
    flex-direction: row;
    align-items: center;
    height: var(--navbar-height-browser);
  }

  .navbar .user-info {
    margin-left: auto;
    padding-right: 4%;
  }
}