.navbar {
  min-height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--primary-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-items: center;
}



.navbar ul {
  width: 80%;
  text-align: left;
  padding-left: 4%;
}

.navbar li {
  display: inline-block;
  text-align: center;
  padding: 10px 30px; 
  font-size: 1.7rem;
  font-weight: bolder;
  letter-spacing: 2px;
}

.Link {
  text-decoration: none;
  color: var(--secondary-color);
}

.Link:hover {
  filter: brightness(95%);
}



.user-info {
  width: 20%;
  text-align: right;
  justify-content: right;
  padding-right: 4%;
}

.user-info .login {
  text-decoration: underline;
  cursor: pointer;
}

.user-info .profile-icon {
  margin: 0 10px;
  font-size: 3rem;
  color: var(--secondary-color);
}